body {
    font-family: 'Montserrat', sans-serif;
    color: rgb(38, 42, 61);
    height: 100%;
    width: 100%;
}


/*Текст и фон */

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 40px;
    margin:0;
    top: auto;
    left: 23%;
    width: calc(30% - 100px);
    position: fixed;
    /*font-size: 26px;
    font-weight: 400;*/
    color:#5A5582;
}

.page {
    font-size: 26px;
    font-weight: 400;
    line-height: 1.6px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 200px);
    position: absolute;
    place-content: center;
    width: calc(100% - 200px);
}

.text {
    height: 200px;
    position:absolute;
    line-height: normal;
    width:50px;
    font-size: 26px;
    font-weight: 400;
    display: flex;
    margin-top: 290px;
    margin-left: 150px;
}

.logo {
    width: 100px;
    position: fixed;
    display: flex;
    top: 40%;
    left: 10%;
}

html {
    background-image: url("assets/background_new.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/*Окно ввода*/

.container {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    height: 50%;
    margin: 0 auto;
    width: 100%;
}

.screen {
    background: #fff;
    border-radius: 20px;
    border-top-right-radius: 0px;
    position: top;
    height: 150px;
    width: 450px;
    box-shadow: 3px 3px 3px rgba(67, 67, 102, 0.5);
    position: relative;
    top: 30%;
    left: 70%;
}

.screen__content {
    z-index: 1;
    position: relative;
    height: 100%;
}

.login {
    width: 85%;
    padding-left: 15%;
    padding-top: 8%;
    padding-bottom: 0%;
}

.login__field {
    margin-top: 0px;
    position: relative;
    top: -70px;
}

.logininput {
    border: none;
    text-align: left;
    font-weight: 100%;
    font-size: 20px;
    text-transform: uppercase;
    color: #585b9b;
    border-bottom: 2px solid #D1D1D4;
    background: none;
    margin-top: 5px;
    padding-left: 24px;
    font-weight: 700;
    width: 75%;
    transition: .2s;
    outline: 0;
    outline-offset: 0;
    font-family: 'Montserrat', sans-serif;
    
}

.login__input:active,
.login__input:focus,
.login__input:hover {
    outline: none;
    border-bottom-color: #6A679E;
}

.login__submit {
    background: linear-gradient(45deg,#AACFEE, #5b659ede);
    font-size: 24px;
    margin-left: 0%;
    border-radius: 6px;
    border: 0px solid #768095;
    font-weight: 400;
    text-align: center;
    width: 82.2%;
    margin-top: 8%;
    color: #fff;
    transition: .5s;
    
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
    background: linear-gradient(45deg, #94a2b2, #6A679E);
    box-shadow: 14px, #333;
    outline: none;
}

.button2
{
    top:10%;
    left:50%;
    background:#96a2b200;
}

.footer{
    font-family: 'Montserrat', sans-serif;
    padding: 3px; /* Поля вокруг текста */
    background: #617286;
    opacity: 0.8;
    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    color: #fff; /* Цвет текста */
    width: 100%;
}
/* Изменение placeholder для всех браузеров.*/


/* WebKit, Edge */

::-webkit-input-placeholder {
    color: #95a3b3;
    font-weight: 400;
}


/* Firefox 4-18 */

 :-moz-placeholder {
    color: #95a3b3;
    opacity: 1;
}


/* Firefox 19+ */

 ::-moz-placeholder {
    color: #95a3b3;
    opacity: 1;
}


/* IE 10-11 */

 :-ms-input-placeholder {
    color: #95a3b3;
}


/* Edge */

 ::-ms-input-placeholder {
    color: #95a3b3;
}


/* MODERN BROWSER */

 ::placeholder {
    color: #95a3b3;
}